<%- include('partials/header') %>

  <div class="home-wrapper">
    <div class="hero-section">
      <div class="main-container">
        <h1 class="title">Secrets</h1>
        <p class="subtitle">Don't keep your secrets, share them anonymously!</p>
        <hr class="divider">
        <div class="button-group">
          <a class="btn" href="/register">Register</a>
          <a class="btn" href="/login">Login</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>